<html>
    <head>
        <title>Serve-A</title>
    </head>
    <body>
        <h2>Submitted Information</h2>
        <p>Name: <%= r.name %></p>
        <p>Dojo Location: <%= r.loc %></p>
        <p>Favorite Language: <%= r.lang %></p>
        <p>Comment: <%= r.comment %></p>
    </body>
</html>