<html>
    <head>
        <title>Survey Form</title>
    </head>
    <body>
        <form action="/form" method="POST">
            Your Name:
            <input type="text" name="name"><br>
            Dojo Location:<br>
            <select name="loc">
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chigaco</option>
                <option value="Austin">Austin</option>
            </select><br>
            Favorite Language:<br>
            <select name="lang">
                <option value="velato">Velato</option>
                <option value="node">Node.JS</option>
                <option value="python">Python</option>
                <option value="c#">C#</option>
            </select><br>
            Comments<br>
            <textarea name="comment"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>